.multiple-email-container {
	display: inline-block;
	max-width: 500px;
	display: inline-block;
}
.multiple-email-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	clear: left;
	overflow: hidden;
}
.multiple-email-list li {
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	padding: 2px 5px;
	color: #777;
	background-color: #f1f1f1;
	border: 1px solid #d4d4d4;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.multiple-email-list li:hover {
	opacity: .85;
}
.multiple-email-list li:after {
	content: url(close.png);
	margin-left: 5px;
}